{
  "plugins": [["import", [
    {{#if_eq theme 'antd'}}
    { "libraryName": "antd", "style": true }
    {{else}}
    { "libraryName": "antd-mobile", "style": true }
    {{/if_eq}}
  ]]],
  "presets": ["es2015", "stage-0", "react"]
}
