{
  "plugins": [["import", [
    { "libraryName": "{{theme}}", "style": true }
  ]]],
  "presets": ["es2015", "stage-0", "react"],
  "env": {
    "production": {
      "plugins": [
        "transform-react-constant-elements",
        "transform-react-remove-prop-types",
        "transform-react-pure-class-to-function"
      ]
    },
    "development": {
      "presets": [
        "react-hmre"
      ]
    }
  }
}
