{
  "plugins": [["import", [
    {{#if_eq theme 'antd'}}
    { "libraryName": "antd", "style": true }
    {{else}}
    { "libraryName": "antd-mobile", "style": true }
    {{/if_eq}}
  ]]],
  "presets": ["es2015", "stage-0", "react"],
  "env": {
    "production": {
      "plugins": [
        "transform-react-constant-elements",
        "transform-react-remove-prop-types",
        "transform-react-pure-class-to-function"
      ]
    },
    "development": {
      "presets": [
        "react-hmre"
      ]
    }
  }
}
